<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>App uses local network to discover devices</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_checkers._tcp</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string></string>
</dict>
</plist>
